*{
    margin: 0 !important; 
    padding: 0 !important;
}

html, body{
    width: 100%;
    height: 100%;
}

#login{
    font-family: open sans;
}

.roxobg{
    background-color: #7641C5;
}

.imglogin{
    width: 80%;
    height: 95%
}

.texto-logo{
    color: var(--branco, #F1F1F1);
    font-family: "Odor Mean Chey";
    font-style: normal;
    font-weight: 400;
}

.informacoes{
    width: 60%;
}

.informacoes .rounded{
    background: rgba(201, 196, 210, 0.35);
    border: 0;
    outline: none;
}

.informacoes ::-webkit-input-placeholder{
    color: #ADA9A9;
}

/*dashboard*/
.tudo-dashboard .opc-ingles h6, .tudo-dashboard .selecione-opc a{
    font-family: "Open Sans", sans-serif;
    color: #F1F1F1;
}

.tudo-dashboard .opc-ingles h6{
    font-size: 20px;
    margin: 0;
}

.selecione-opc a img{
    width: 20px;
    height: 40px;
}

.tudo-dashboard .opc-ingles a{
    font-size: 18px;
    text-decoration: none;
}

.tudo-dashboard .opc-ingles a:hover{
    cursor: pointer;
    color: #F1F1F1
}

.logo-meck{
    display: flex;
    gap: 6px;
    align-self: flex-start;
}

.opc-ingles{
    width: 76%;
}

.selecione-opc a{
    margin: 0
}

.capybara-logo-dashboard{
    width: 32px;
    height: 40px;
}

.texto-logo.dashboard{
    margin: 0;
    font-size: 24px;
    line-height: 100%;
    padding-top: 8px;
}

.navbar{
    background: #7641C5;
}

.conteudo-dashboard .conteudo-dashboard-barra-topo {
    background: #F1F1F1;
    height: 8%;
}

.conteudo-dashboard{
    height: 100%;
}

.conteudo-dashboard-cinza{
    background: #E3E3E3;
    height: 90%;
}

.conteudo-dashboard .box-shadow-dashboard {
    background: linear-gradient(180deg, #C9C9C9 0%, #E3E3E3 31%);
    height: 5%;
}

.busca-dashboard img{
    width: 26px;
    height: 26px;
}

.busca-dashboard input{
    width: 142px;
    height: 26px;
    border-radius: 3px 0px 0px 3px;
    border: 0;
    background: rgba(221, 221, 221, 0.37);
}

.pessoal-dashboard img{
    width: 26px;
    height: 26px;
}

.perfil-texto-dashboard {
    color: #7641C5;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.perfil-dashboard a:hover{
    cursor: pointer;
    color: #7641C5;
}

/*final do dashboard*/

.informacoes .btn{
    background-color: #7641C5;
    color: #F1F1F1;
}

.informacoes .btn:hover{
    color: #F1F1F1 !important;
}

.informacoes a, p{
    font-size: 12px;
}