*{
    margin: 0; 
    padding: 0;
    font-family: "Open Sans", sans-serif;
    scrollbar-width: thin; 
    scrollbar-color: #7641C5 #CECECE; 
}

.texto-justificado {
    text-align: justify;
    font-size: 14px;
}

body {

    overflow-x: hidden; 
}

html, body{
    width: 100%;
    height: 100%;
}

a{
    cursor: pointer;
}

.tamanho-insano{
    width: 300px;
}

.tamanho-insano-2 {
    width: 450px;
} 

.nosso-nome{
    color: #7641C5;
}

.bg-roxo-claro{
    background-color: #6335A7;
}
.bg-roxo{
    background-color: #4D2B80;
}
.bg-escuro{
    background-color: #171717;
}

.txtroxo{
    color: #7641C5;
}

.section1{
    background-image: url(/static/img/background.png);
    backdrop-filter: sepia(90%);
    background-repeat: no-repeat;
    height: 80vh;
	background-size: cover;
}

.section2 h1, .section2 h4, .section2 p{
    color:  white;
}

.services img{
    width: 100px;
    min-width:100px;
}
.nosso{
    max-width: 500px;
}
.hh{
	height: 60vh;
}

.roxobg{
    background-color: #7641C5 !important;
}

.alertbg{
    background-color: #AD7FF0;
}

.roxoesc{
    background-color: rgba(77, 43, 128, 0.60) ;
}

.imglogin{
    width: 80%;
    height: 95%
}
.hg{
    width: 40px;
    height: 40px;
    
}
.texto-logo{
    color: var(--branco, #F1F1F1);
    font-family: "Odor Mean Chey";
    font-style: normal;
    font-weight: 400;
}

.blocoentrar .alert{
    width: 60%;
}

#icon, #icon_confirm_password{
    transform: translateY(-50%);
    background: url(/static/img/eye_show_regular_icon_203603.svg);
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-size: cover;
    top: 15px;
    right: 5px;
}

.entrarinicial{
    border: 1px solid #4D2B80;
}


#icon.hide, #icon_confirm_password.hide{
    background: url(/static/img/eye_hide_regular_icon_203604.svg);
    background-size: cover; 
}

.informacoes .rounded{
    background: rgba(201, 196, 210, 0.35);
    border: 0;
    outline: none;
}

.informacoes ::-webkit-input-placeholder{
    color: #ADA9A9;
}

.informacoes .btn{
    background-color: #662FC8;
    color: #F1F1F1;
}

.informacoes .btn:hover{
    color: #F1F1F1 !important;
}

.informacoes a, p{
    font-size: 12px;
}
/*dashboard*/
.tudo-dashboard .opc-ingles h6, .tudo-dashboard .selecione-opc a{
    color: #F1F1F1;
    text-decoration: none;
}

.tudo-dashboard .opc-ingles h6{
    font-size: 20px;
    margin: 0;
}

.materiais img, .atividades img, .turmas img, .links img , .gg {
    width: 15px!important;
    height: 15px!important;
}
.tudo-dashboard{
    padding-top: 60px;
}

.tudo-dashboard .opc-ingles a{
    font-size: 18px;
    text-decoration: none;
}

.tudo-dashboard .opc-ingles a:hover{
    cursor: pointer;
    color: #F1F1F1
}

.nav-roxo{
    min-width: 180px;
}

.navbar{
    background: #662FC8;
    background: linear-gradient(90deg, rgba(102, 47, 200, 1) 15%, rgba(68, 33, 134, 1) 63%);
}

.selecione-opc a{
    margin: 0
}

.selecionado{
    background: rgba(0, 0, 0, 0.08);
}

/* popup entrar em turma */

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.popap{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 300px ;
    height: 180px;
}

.popap #codigo{
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    height: 40px;
}

.popap #codigo:focus{
    outline: none;
    border: 2px solid #7641C5
}

.popap #confirmButton{
    background-color: #7641C5;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

/* fim do popup */

.capybara-logo-dashboard{
    width: 20px;
    height: 28px;
}

.texto-logo.dashboard{
    margin: 0;
    font-size: 18px;
    line-height: 100%;
}


.conteudo-dashboard .conteudo-dashboard-barra-topo {
    background: #F1F1F1!important;
   
}

.tudo-dashboard .imagem-add {
    width: 30px;
    height: 30px;
}



.conteudo-dashboard-cinza{
    background: #171717;
    height: 100%;
    box-shadow: inset -1px 75px 14px -65px rgba(0,0,0,0.02);
}


.busca-dashboard input{
    
    border-radius: 3px 0px 0px 3px;
    border: 0;
    background-color: rgba(221, 221, 221, 0.37);
}

.pessoal-dashboard img{
    width: 24px;
    height: 24px;
}

.perfil-dashboard, .perfil-texto-dashboard {
    text-decoration: none;
}

.perfil-texto-dashboard{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.perfil-dashboard:hover{
    cursor: pointer;
    color: #e0e0e0;
}

.capivara-ops .ops-texto{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #F1F1F1;
}

.capivara-ops .capivara-comendo {
    width: 300px;
    height: 300px;
}
.conteudo-dashboard-barra-topo{
    padding-top: 12px;
    padding-bottom: 12px;
}
.lupa{
    height: 100%;
    width: 33px;
}

/*final do dashboard*/

.navbar{
    height: 62px;
}
.opc-turmas{
    color: #4D2B80!important;
    
}

.form-check-input:checked {
    background-color: #7641C5!important;
    border-color: #7641C5!important;
    color: #7641C5;
}

.scroll-container {
    overflow-x: auto;
    white-space: nowrap;
}

.site-box h5{
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.397); /* Sombra atrás do nome */
    z-index: 200;
    font-weight: 600;
}
.site-box {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    flex: 0 0 auto;
    width: 300px;
    height: 25vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: start;
    text-decoration: none;
    border-radius: 10px;
}

.site-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(77, 43, 128, 0.4); 
    z-index: 1;
    border-radius: 10px;
}

.materiais-adicionados h5{
    color: #F1F1F1;
    border-bottom: 2px solid #A450DB!important;
}
.materiais-adicionados a{
    color: #F1F1F1;
    text-decoration: none;
    border-bottom: 1px solid #4C4A4A!important;
}
.materiais-adicionados a::-webkit-input-placeholder{
    color: #ADA9A9;
}
.mm, .mm .engrenagem-roxa{
    width: 25px;
}
/*dashboard materiais e atvs*/
.ingles-titulo{
    color: #A450DB;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 34px;
    font-weight: 700;
}

/*dashboard materiais 1*/
.blocomateriais h2{
    color: #F1F1F1;
}

.opcah{
    max-width: 584px;
    height: 194px;
}

.opcav{
    height: 426px;
    width: 230px;
}

.roxoesc.videos,.roxoesc.apostilas{
    border-radius: 8px;
}

.roxoesc.mat-add{
    border-radius: 10px;
}

.ffff{
    z-index: 1050; /* Um valor alto para garantir que fique acima dos outros elementos */
    position: absolute; /* Isso já está, mas é importante para o z-index funcionar corretamente */
}

.img-videos{
    background-image: url(/static/img/imagem-videos.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-apostilas{
    background-image: url(/static/img/imagem-apostilas.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*dashboard atividades*/

.conteudo-atividades .card-text{
    color: #000;
    font-size: 18px;
    max-width: 280px;
}

.conteudo-atividades .cards .card .card-body .btn{
    background: #6335A7;
    color: #FFF;
    font-size: 20px;
}

.conteudo-atividades .card a{
    text-decoration: none;
    color: #4D2B80;
    font-size: 25px;
    font-weight: 700;
}

.conteudo-atividades .card a:hover{
    cursor: pointer;
}

.conteudo-atividades .card{
    max-height: 383px
}

.conteudo-atividades .setinha-card{
    width: 20px;
    height: 30px;
}

.card{
    border-radius: 14px !important;
}

.area-atv.roxoesc{
    border-top-left-radius: .42rem;
    border-top-right-radius: .42rem
}

/*dashboard lista-atividades*/
.bloco-lista, .bloco-lista-tipo-material{
    width: 90%;
}

.bloco-lista .card a{
    background-color: #4D2B80;
    color: #FFF;
    font-size: 80%;
}

.itematv, .item-material-tipo{
    width: 25%;
}



.atividade{
    width: 100%;
}
.senha{
    background-image: url(/static/img/imagemlogin.png)!important;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
.ff{
    min-width: 185px;
}

#jjj{
    right: 60px;
}



/*Responsividade*/

@media (max-width: 600px) {
    .hh{
        height: 30vh;
    }
    .section1{
        height: fit-content;
    }
    .services img{
        width: 80px;
        min-width:80px;
    }
    .blocoentrar{
        background-image: url(/static/img/imagemlogin.png)!important;
        background-repeat: no-repeat;
        background-position: center;
        background-size:contain;
    }
    .busca-dashboard input{
        max-width: 140px;
        border-radius: 3px 0px 0px 3px;
        border: 0;
        background-color: rgba(221, 221, 221, 0.37);
        padding-inline: 10px;
    }
    .lupa img{
        height: 24px!important;
        position: relative;
        top:-3px;
    }
    .opcah{
        height: 120px;
    }
}

/* páginas dentro dos materiais*/
.item-material-tipo .card-text{
    color: #7641C5;
    font-size: 16px;
    font-weight: 700;
    width: 179px;
    height: 45px;
}

.criaratividade{
    border-radius: 14px;
    padding: 50px 0 50px 0;
}

.criaratividade img{
    width: 60px;
}

.criaratividade:hover img{
    transform: scale(1.2);
    transition: .3s;
}

.criaratividade:hover p{
    transform: scale(1.2);
    transition: .3s;
}

/*tela das turmas*/
.conteudo-turmas, .conteudo-listar-turmas{
    width: 1000px;
}

.imagem-turma-conteudo{
    width: 320px;
    height: 216px;
    background-image: url(/static/img/Group\ 84.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.codigoturma{
    color: #4D2B80;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

/*tela de criar turmas e adicionar materiais*/

.forms-criar-turma .titulo-input, .forms-add-material .titulo-input {
    color: #7641C5;
    font-size: 16px;
    font-weight: 700;
}

.forms-criar-turma .input-roxo, .forms-add-material .input-roxo{
    border-radius: 4px;
    background: #ADA9A961;
    width: 400px;
    height: 30px;
}



.forms-criar-turma .input-roxo-codigo{
    width: 200px;
}

.forms-criar-turma .input-roxo:focus, .forms-add-material .input-roxo:focus{
    outline: 2px solid #7641C5;
    border-radius: 2px;
}

.forms-criar-turma .nivel-ingles-turma input[type = 'radio']{
    display: none;
}

.custom-radio{
    background: #4D2B80;
    width: 16px;
    height: 16px;
    display: grid;
    place-content: center;
    border-radius: 50%;
}
.div-login{
    min-width: 340px;
}
.custom-radio, .forms-criar-turma span {
    transition: 0.5s ease;
}

.custom-radio span {
    content: '';
    width: 8px;
    height: 8px;;
    border-radius: 50%
}

.forms-criar-turma .nivel-ingles-turma input[type = 'radio']:checked + .custom-radio span {
    transition: 0.5s;
    background: #FFF;
}

.forms-criar-turma .botao-criar-turma, .forms-add-material .botao-postar-material, .botao-gerar-codigo {
    background-color: #6335A7;
    width: 200px;
    height: 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.forms-add-material .desc-add-material{
    height: 104px;
}

/*página listar turmas*/

.conteudo-listar-turmas .lista-turmas li{
    width: 320px;
    height: 156px;
    background-image: url(/static/img/imagem-turma.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.conteudo-listar-turmas .lista-turmas li a {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
}

.conteudo-listar-turmas .lista-turmas li img {
    width: 25px;
    height: 25px;
}

.conteudo-listar-turmas .lista-turmas li div :nth-child(3){
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}