{% extends 'pagina-base-dashboard.html' %}

{% block titulo %}
    Dashboard
{% endblock %}

{% block plus %}
    <a id="openModal" class="nav-link" data-bs-toggle="modal" data-bs-target="#modalCriar">
        <img src="{{ url_for('static', filename='img/simbolo-add.svg') }}" class="imagem-add">
    </a>
{% endblock %}

{% block conteudo %}
    <div class="capivara-ops d-flex flex-column text-center align-items-center justify-content-center">
        {% set mensagens = get_flashed_messages() %} 
        {% if mensagens %} 
        <div class="d-flex justify-content-center">
            <div id = "flash-message" class='alert alertbg text-light d-flex justify-content-center m-0' role="alert">
                {% for msg in mensagens %}
                    {{ msg }}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <img src="static/img/capybara-comendo.svg" alt="" class="capivara-comendo">
        <h5 class="ops-texto mx-5">Ops... Você ainda não criou nenhuma turma</h5>
    
        <a id="openModal" class="btn text-light roxobg text-align-center fw-bold" data-bs-toggle="modal" data-bs-target="#modalCriar">Criar turma</a>
    </div>
    <div class="modal fade" id="modalCriar" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark text-light p-4 rounded">

                <h4 class="text-roxo fw-bold">Nova Turma</h4>

                <form method="POST" action="/turmas/create" class="d-flex flex-column gap-3 mt-3">

                    <div>
                        <label for="nome_turma" class="form-label fs-5">Nome</label>
                        <input type="text" class="form-control input-roxo border-0"
                            id="nome_turma" name="nome_turma" placeholder="Digite o nome da turma">
                    </div>

                    <div>
                        <p class="fs-5 fw-semibold m-0">Nível</p>
                        <div class="d-flex gap-4 flex-wrap">

                            <label class="form-check d-flex align-items-center gap-2">
                                <input class="form-check-input" type="radio" name="nivel_turma" value="Inglês I">
                                Inglês 1
                            </label>

                            <label class="form-check d-flex align-items-center gap-2">
                                <input class="form-check-input" type="radio" name="nivel_turma" value="Inglês II">
                                Inglês 2
                            </label>

                        </div>
                    </div>

                    <div class="d-flex gap-2 justify-content-end mt-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
{% endblock %}