{% extends 'pagina-base-dashboard.html' %}

{% block titulo %}
    Criação de turmas
{% endblock %}

{% block conteudo %}

<section class="container">
   <h2 class="ingles-titulo mt-1 text-start ps-4">Dicionários</h2>
    <div class="container mt-2">
        <div class="scroll-container d-flex gap-3 p-3">

            <a href="https://www.linguee.com.br/" target="_blank" class="site-box d-flex align-items-end ps-3" 
               style="background-image: url('https://s0.wordpress.com/mshots/v1/https%3A%2F%2Fwww.linguee.com.br?w=600&h=400');">
                <h5 class="text-light shado" >Dicionário Linguee</h5>
            </a>
    
            <a href="https://www.oed.com/?tl=true" target="_blank" class="site-box d-flex align-items-end ps-3"
               style="background-image: url('https://s0.wordpress.com/mshots/v1/https%3A%2F%2Fwww.oed.com?w=600&h=400');">
               <h5 class="text-light shado" >Dicionário Oxford</h5>
            </a>
            <a href="https://dictionary.cambridge.org" target="_blank" class="site-box d-flex align-items-end ps-3"
               style="background-image: url('https://s0.wordpress.com/mshots/v1/https%3A%2F%2Fdictionary.cambridge.org?w=600&h=400');">
               <h5 class="text-light shado" >Dicionário Cambridge</h5>
            </a>
    
        </div>
    </div>
    <h2 class="ingles-titulo m-0 text-start ps-4">Linx Auxiliares</h2>
    <div class="container mt-2">
         
        <div class="scroll-container d-flex gap-3 p-3">

            <a href="https://lyricstraining.com/#nr" target="_blank" class="site-box d-flex align-items-end ps-3" 
               style="background-image: url('https://s0.wordpress.com/mshots/v1/https%3A%2F%2Flyricstraining.com?w=600&h=400');">
                <h5 class="text-light shado" >Lyrics Training</h5>
            </a>
    
            <a href="https://test-your-english-cionline.web.app/?utm_source=google%20ads&utm_medium=search&utm_campaign=teste%20de%20nivelamento&gad_source=1&gclid=Cj0KCQiAkoe9BhDYARIsAH85cDMV5bWzNzipLI1wkTxOv7QFHLi5-A0Ug8zsALoA54P28aFmmA0rvLMaAlaCEALw_wcB" target="_blank" class="site-box d-flex align-items-end ps-3"
               style="background-image: url('https://s0.wordpress.com/mshots/v1/https%3A%2F%2Ftest-your-english-cionline.web.app/?utm_source=google%20ads&utm_medium=search&utm_campaign=teste%20de%20nivelamento&gad_source=1&gclid=Cj0KCQiAkoe9BhDYARIsAH85cDMV5bWzNzipLI1wkTxOv7QFHLi5-A0Ug8zsALoA54P28aFmmA0rvLMaAlaCEALw_wcB?w=600&h=400');">
               <h5 class="text-light shado" >Teste seu inglês</h5>
            </a>
            <a href="https://www.bbc.co.uk/learningenglish/" target="_blank" class="site-box d-flex align-items-end ps-3"
               style="background-image: url('https://s0.wordpress.com/mshots/v1/https%3A%2F%2Fbbc.co.uk/learningenglish/?w=600&h=400');">
               <h5 class="text-light shado" >BBC Learning English</h5>
            </a>
            <a href="https://www.bbc.com/learningenglish/english/intermediate-grammar" target="_blank" class="site-box d-flex align-items-end ps-3"
               style="background-image: url('https://s0.wordpress.com/mshots/v1/https%3A%2F%2Fbbc.com/learningenglish/english/intermediate-grammar?w=600&h=400');">
               <h5 class="text-light shado" >BBC 6 Minute Grammar</h5>
            </a>
            <a href="https://www.youtube.com/@bbclearningenglish" target="_blank" class="site-box d-flex align-items-end ps-3"
               style="background-image: url('https://s0.wordpress.com/mshots/v1/https%3A%2F%2Fyoutube.com/@bbclearningenglish?w=600&h=400');">
               <h5 class="text-light shado" >YT BBC Learning English</h5>
            </a>
            <a href="https://learnenglish.britishcouncil.org/" target="_blank" class="site-box d-flex align-items-end ps-3"
               style="background-image: url('https://s0.wordpress.com/mshots/v1/https%3A%2F%2Flearnenglish.britishcouncil.org?w=600&h=400');">
               <h5 class="text-light shado" >British Council</h5>
            </a>
            
        </div>
    </div>
</section>

{%endblock%}