{% extends 'pagina-dashboard.html' %}

{% block titulo %}
    Materiais - Inglês I
{% endblock %}

{% block opcao %}
<div class="opc-materiais d-flex flex-column gap-1">
    <div class="materiais d-flex align-items-center gap-1">
        <img src="static/img/imagem-material.svg" alt="">
        <h6>Materiais</h6>
    </div>
    <div class="selecione-opc d-flex flex-column ps-4 gap-1">
        <a href="/materiais1" class="eng1">
            Inglês I
        </a>
        <a href="/materiais2" class="selecionado">
            Inglês II
        </a>
    </div> 
</div>
<div class="opc-atividades d-flex flex-column gap-1">
    <div class="atividades d-flex align-items-center gap-1">
        <img src="static/img/imagem-atvs.svg" alt="">
        <h6>Atividades</h6>
    </div>
    <div class="selecione-opc d-flex flex-column ps-4  gap-1">
        <a href="/atividades1" class='eng1'>
            Inglês I
        </a>
        <a href="/atividades2" class='eng2'>
            Inglês II
        </a>
    </div> 
</div>
{% endblock %}

{% block conteudo %}
<div class='blocomateriais d-flex flex-column gap-2'>
    <h1 class='ingles-titulo text-start'>Inglês II</h1>
    <div class='d-flex gap-4 ps-4'>
        <div class='d-flex flex-column justify-content-between'>
            <a href='#' class='opcah position-relative'>
                <img src="/static/img/imagem-videos.svg" alt="" class="w-100 h-100">
                <div class='position-absolute z-1 top-0 roxoesc videos bg-opacity-50 w-100 h-100 d-flex align-items-center justify-content-end p-3'>
                    <h2 class='position-absolute top-3 opacity'>Vídeos</h2>
                </div>
            </a>
            <a href='#' class='opcah position-relative'>
                <img src="/static/img/imagem-apostilas.svg" alt="" class="w-100 h-100">
                <div class='position-absolute z-1 top-0 roxoesc apostilas bg-opacity-50 w-100 h-100 d-flex align-items-center justify-content-start p-3'>
                    <h2 class='position-absolute top-3 opacity'>Apostilas</h2>
                </div>
            </a>
        </div>
        <div class='d-flex'>
            <a href="#" class='opcav position-relative'>
                <img  src="/static/img/imagem-ola-casada.svg" alt="" class="w-100 h-100">
                <div class='position-absolute z-1 top-0 roxoesc mat-add bg-opacity-50 w-100 h-100 d-flex align-items-center justify-content-center p-3 text-center'>
                    <h2 class='position-absolute top-3 opacity h3'>Material Adicional</h2>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}