{% extends 'pagina-base-dashboard.html' %}

{% block titulo %}
    Turma
{% endblock %}

{% block dashboard %}
<div class="d-flex gap-4 align-items-center">                  
    {% if current_user.admin %}
    <div class="nav-item">
        <a class="turmas d-flex align-items-center gap-1 text-decoration-none" href="/listar_turmas">
            <img src="{{url_for('static', filename='img/imagem-turmas.svg')}}" alt="">
            <h6 class="text-light fs-6 my-0">Turmas</h6>
        </a>
    </div>
    {% endif %}
    <div class="nav-item active">
        <a class="materiais d-flex align-items-center gap-1 text-decoration-none" href="{{ url_for('turmas.materiais_opcoes', id=turma.id) }}">
            <img src="{{url_for('static', filename='img/imagem-material.svg')}}" alt="">
            <h6 class="text-light text-center fs-6 my-0" >Materiais</h6>
        </a>
    </div>
    <div class="nav-item">
        <a class=" atividades d-flex align-items-center gap-1 text-decoration-none" href="{{url_for('atividades')}}">
            <img src="{{url_for('static', filename='img/imagem-atvs.svg')}}" alt="">
            <h6 class="text-light fs-6 my-0" >Atividades</h6>
        </a>
    </div>
    <div class="nav-item">
        <a class="links d-flex align-items-center gap-1 text-decoration-none" href="/links">
            <img src="{{url_for('static', filename='img/grampinho.svg')}}" alt="">
            <h6 class="text-light fs-6 my-0" >Links</h6>
        </a>
    </div>
</div>
{% endblock %}

{% block conteudo %}

<div class='container '>
    <div class="d-flex flex-row justify-content-between align-items-center my-4 ">
        <div class="d-flex flex-column justify-content-between align-items-start">
            <h1 class='ingles-titulo text-start'>Nome da turma</h1>
        </div>

    </div>
    
    
    <div class="materiais-adicionados">
        <h5 class="border-bottom border-2 text-light my-3 fw-bold">Postagens</h5>
    
        <a href="#" class="d-flex flex-row justify-content-between ">
            <div>
                <p class="my-2 ms-1 fs-6">Título do reading 1</p>
            </div>
            <div class="d-flex gap-5">
                <div>
                    <p class="my-2 fs-6 me-5">Material</p>
                </div>
                <div>
                    <p class="my-2 fs-6">Data de upload: 01/01/2024</p>
                </div>
            </div>
        </a>
        <a href="#" class="d-flex flex-row justify-content-between ">
            <div>
                <p class="my-2 ms-1 fs-6">Título do reading 1</p>
            </div>
            <div class="d-flex gap-5">
                <div>
                    <p class="my-2 fs-6 me-5">Material</p>
                </div>
                <div>
                    <p class="my-2 fs-6">Data de upload: 01/01/2024</p>
                </div>
            </div>
        </a>
        <a href="#" class="d-flex flex-row justify-content-between ">
            <div>
                <p class="my-2 ms-1 fs-6">Título do reading 1</p>
            </div>
            <div class="d-flex gap-5">
                <div>
                    <p class="my-2 fs-6 me-5">Material</p>
                </div>
                <div>
                    <p class="my-2 fs-6">Data de upload: 01/01/2024</p>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}