{% extends 'pagina-dashboard.html' %}

{% block titulo %}
    Atividades - Inglês I
{% endblock %}

{% block conteudo %}
<div class="conteudo-atividades ingles-1">
    <h1 class="ingles-titulo">Inglês I</h1>
    <div class="cards d-flex gap-5">
        <div class="card">
            <img class="card-img-top" src="static/img/imagem-listening.svg" alt="">
            <div class="card-body p-2">
                <a href="#" class="d-flex justify-content-between">
                    <h5 class="card-title">Listening</h5>
                    <img src="static/img/setinha.svg" alt="" class="setinha-card">
                </a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="static/img/imagem-reading.svg" alt="">
            <div class="card-body p-2">
                <a href="#" class="d-flex justify-content-between">
                    <h5 class="card-title">Reading</h5>
                    <img src="static/img/setinha.svg" alt="" class="setinha-card">
                </a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="static/img/imagem-writing.svg" alt="">
            <div class="p-2">
                <a href="#" class="d-flex justify-content-between">
                    <h5 class="card-title">Writing</h5>
                    <img src="static/img/setinha.svg" alt="" class="setinha-card">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}