{% extends 'pagina-base-dashboard.html' %}

{% block titulo %}
    Materiais - Apostilas
{% endblock %}

{% block dashboard %}
<div class="d-flex gap-4 align-items-center">
                        
    {% if current_user.admin %}
    <div class="nav-item">
        <a class="turmas d-flex align-items-center gap-1 text-decoration-none" href="/listar_turmas">
            <img src="/static/img/imagem-turmas.svg" alt="">
            <h6 class="text-light fs-6 my-0" >Turmas</h6>
        </a>
    </div>
    {% endif %}
    <div class="nav-item active">
        <a class="materiais d-flex align-items-center gap-1 text-decoration-none" href="/materiais">
            <img src="{{url_for('static', filename = 'img/imagem-material.svg')}}" alt="">
            <h6 class="text-light text-center fs-6 my-0" >Materiais</h6>
        </a>
    </div>
    <div class="nav-item">
        <a class=" atividades d-flex align-items-center gap-1 text-decoration-none" href="/atividades">
            <img src="{{url_for('static', filename = 'img/imagem-atvs.svg')}}" alt="">
            <h6 class="text-light fs-6 my-0" >Atividades</h6>
        </a>
    </div>
    <div class="nav-item">
        <a class="links d-flex align-items-center gap-1 text-decoration-none" href="/links">
            <img src="/static/img/grampinho.svg" alt="">
            <h6 class="text-light fs-6 my-0" >Links</h6>
        </a>
    </div>
</div>
{% endblock %}

{% block conteudo %}
<div class='bloco-lista-tipo-material d-flex flex-column'>
    {% set mensagens = get_flashed_messages() %} 
    {% if mensagens %} 
    <div class="d-flex justify-content-center">
        <div class='alert alertbg text-light d-flex justify-content-center w-50 m-0' role="alert">
            {% for msg in mensagens %}
                {{ msg }}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <h1 class="ingles-titulo d-flex align-self-start">Materiais - apostilas</h1>
    <ul class='d-flex list-unstyled flex-wrap'>
		{% for m in materiais %}
            <li class='item-material-tipo pb-3 pe-3'>
                <a class="text-decoration-none"  href="#"> 
                    <div class="card h-100">
                        <div class="card-body p-0 d-flex flex-column justify-content-between">
                            <div class="opca position-relative rounded">
                                <img class="card-img-top" src="/static/img/imagem-listening.svg" alt="">
                                <div class='position-absolute z-1 top-0 area-atv roxoesc bg-opacity-50  w-100 h-100 d-flex align-items-center justify-content-end p-3'></div>
                            </div>
                            <div class="d-flex flex-wrap align-content-center justify-content-between p-2">
                                <h6 class="card-text d-flex align-items-center">{{m.titulo}}</h6>
                                <a href="#" class="d-flex mm" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="engrenagem-roxa" src="/static/img/configuracao-roxa.svg" alt="">
                                </a>
                                <ul class="dropdown-menu p-2 bg-white dropdown-menu-end" aria-labelledby="userDropdown">
                                    <p class=" opc-turmas fw-bold fs-4 m-0 text-center">Opções</p>
            
                                    <form action="" method="POST">
                                        <button type="submit" class="dropdown-item opc-turmas fw-normal border-bottom fs-4 align-items-center">
                                            Excluir Material
                                        </button>
                                    </form>
        
                                    <a class="dropdown-item opc-turmas fw-normal fs-4" href="#">Editar Material</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </a>
            </li>	
		{% endfor %}
        {% if current_user.admin %}
      <li class="itematv addbt pb-3 pe-3">
        <a href="{{ url_for('turmas.novo_material', id=turma.id, tipo=tipo) }}" class="criaratividade roxobg d-flex flex-column justify-content-center align-items-center h-100 text-decoration-none">
          <img src="{{url_for('static', filename = 'img/svg8.svg')}}" alt="">
          <p class="text-light fs-5 fw-bold m-0">Novo material</p>
        </a>
      </li>
    {% endif %}
	</ul>
</div>
{% endblock %}