{% extends 'pagina-dashboard.html' %}

{% block titulo %}
    Materiais - Vídeos
{% endblock %}

{% block conteudo %}
<div class='bloco-lista-tipo-material d-flex flex-column'>
    <h1 class="ingles-titulo d-flex align-self-start">Materiais - apostilas</h1>
    <ul class='d-flex list-unstyled flex-wrap'>
		{% for i in apostilas %}
			<a href="#" class='item-material-tipo pb-2 pe-2 text-decoration-none'>  
                <div class="card h-100">
                    <div class="card-body p-0 d-flex flex-column justify-content-between">
                        <div class="opca position-relative rounded">
                            <img class="card-img-top" src="{{i.imagem}}" alt="">
                            <div class='position-absolute z-1 top-0 area-atv roxoesc bg-opacity-50  w-100 h-100 d-flex align-items-center justify-content-end p-3'></div>
                        </div>
                        <h6 class="card-text d-flex align-items-center justify-content-center">{{i.nome}}</h6>
                    </div>
                </div>
            <a>
		{% endfor %}
	</ul>
</div>
{% endblock %}