{% extends 'pagina-base-dashboard.html' %}

{% block titulo %}
    Materiais
{% endblock %}

{% block dashboard %}
<div class="d-flex gap-4 align-items-center">                  
    {% if current_user.admin %}
    <div class="nav-item">
        <a class="turmas d-flex align-items-center gap-1 text-decoration-none" href="/listar_turmas">
            <img src="{{url_for('static', filename='img/imagem-turmas.svg')}}" alt="">
            <h6 class="text-light fs-6 my-0">Turmas</h6>
        </a>
    </div>
    {% endif %}
    <div class="nav-item active">
        <a class="materiais d-flex align-items-center gap-1 text-decoration-none" href="{{ url_for('turmas.materiais_opcoes', id=turma.id) }}">
            <img src="{{url_for('static', filename='img/imagem-material.svg')}}" alt="">
            <h6 class="text-light text-center fs-6 my-0" >Materiais</h6>
        </a>
    </div>
    <div class="nav-item">
        <a class=" atividades d-flex align-items-center gap-1 text-decoration-none" href="/atividades">
            <img src="{{url_for('static', filename='img/imagem-atvs.svg')}}" alt="">
            <h6 class="text-light fs-6 my-0" >Atividades</h6>
        </a>
    </div>
    <div class="nav-item">
        <a class="links d-flex align-items-center gap-1 text-decoration-none" href="/links">
            <img src="{{url_for('static', filename='img/grampinho.svg')}}" alt="">
            <h6 class="text-light fs-6 my-0" >Links</h6>
        </a>
    </div>
</div>
{% endblock %}

{% block conteudo %}
<div class='container'>
    <div class="d-flex flex-row justify-content-between align-items-center my-4 ">
        <div class="d-flex flex-column justify-content-between align-items-start">
            <h1 class='ingles-titulo text-start'>Materiais</h1>
            <form action="">
                <div >
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="admin" id="Videos" value="True">
                        <label class="form-check-label fw-semibold text-light" for="Videos">Videos</label>
                    </div>
                        
                    <div class="form-check form-check-inline">
                        <input class="form-check-input text-light" type="radio" name="admin" id="Apostilas" value="False">
                        <label class="form-check-label fw-semibold text-light" for="Apostilas">Apostilas</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input text-light" type="radio" name="admin" id="Complementos" value="False">
                        <label class="form-check-label fw-semibold text-light" for="Complementos">Complementos</label>
                    </div>
                </div>
            </form>
        </div>
        <a href="#" class="text-decoration-none text-light fs-5">Novo Material</a>
    </div>
    <div class="materiais-adicionados">
        <h6 class="border-bottom border-2 text-light my-3">Videos</h6>
    
        <a href="#" class="d-flex fs-6 flex-row justify-content-between ">
            <div>
                <p class="my-2 ms-1">Título do vídeo 1</p>
            </div>
            <div>
                <p class="my-2">Data de upload: 01/01/2024</p>
            </div>
        </a>
        <a href="#" class="d-flex fs-6 flex-row justify-content-between ">
            <div>
                <p class="my-2 ms-1">Título do vídeo 1</p>
            </div>
            <div>
                <p class="my-2">Data de upload: 01/01/2024</p>
            </div>
        </a>
    </div>

    <div class="materiais-adicionados">
        <h6 class="border-bottom border-2 text-light my-3">Apostilas</h6>
    
        <a href="#" class="d-flex fs-6 flex-row justify-content-between ">
            <div>
                <p class="my-2 ms-1">Título da apostila 1</p>
            </div>
            <div>
                <p class="my-2">Data de upload: 01/01/2024</p>
            </div>
        </a>
        <a href="#" class="d-flex fs-6 flex-row justify-content-between ">
            <div>
                <p class="my-2 ms-1">Título da apostila 2</p>
            </div>
            <div>
                <p class="my-2">Data de upload: 01/01/2024</p>
            </div>
        </a>
    </div>

    <div class="materiais-adicionados">
        <h6 class="border-bottom border-2 text-light my-3">Complementos</h6>
    
        <a href="#" class="d-flex fs-6 flex-row justify-content-between ">
            <div>
                <p class="my-2 ms-1">Título do complemento 1</p>
            </div>
            <div>
                <p class="my-2">Data de upload: 01/01/2024</p>
            </div>
        </a>
        <a href="#" class="d-flex fs-6 flex-row justify-content-between ">
            <div>
                <p class="my-2 ms-1">Título do complemento 2</p>
            </div>
            <div>
                <p class="my-2">Data de upload: 01/01/2024</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}