{% extends 'pagina-base-dashboard.html' %}

{% block titulo %}
    Turma
{% endblock %}

{% block dashboard %}
<div class="d-flex gap-4 align-items-center">                  
    {% if current_user.admin %}
    <div class="nav-item">
        <a class="turmas d-flex align-items-center gap-1 text-decoration-none" href="/listar_turmas">
            <img src="{{url_for('static', filename='img/imagem-turmas.svg')}}" alt="">
            <h6 class="text-light fs-6 my-0">Turmas</h6>
        </a>
    </div>
    {% endif %}
    <div class="nav-item active">
        <a class="materiais d-flex align-items-center gap-1 text-decoration-none" href="{{ url_for('turmas.materiais_opcoes', id=turma.id) }}">
            <img src="{{url_for('static', filename='img/imagem-material.svg')}}" alt="">
            <h6 class="text-light text-center fs-6 my-0" >Materiais</h6>
        </a>
    </div>
    <div class="nav-item">
        <a class=" atividades d-flex align-items-center gap-1 text-decoration-none" href="{{url_for('atividades')}}">
            <img src="{{url_for('static', filename='img/imagem-atvs.svg')}}" alt="">
            <h6 class="text-light fs-6 my-0" >Atividades</h6>
        </a>
    </div>
    <div class="nav-item">
        <a class="links d-flex align-items-center gap-1 text-decoration-none" href="/links">
            <img src="{{url_for('static', filename='img/grampinho.svg')}}" alt="">
            <h6 class="text-light fs-6 my-0" >Links</h6>
        </a>
    </div>
</div>
{% endblock %}

{% block conteudo %}
<div class="conteudo-turmas d-flex flex-column gap-2">
    {% set mensagens = get_flashed_messages() %} 
    {% if mensagens %} 
    <div class="d-flex justify-content-center">
        <div class='alert alertbg text-light d-flex justify-content-center w-50 m-0' role="alert">
            {% for msg in mensagens %}
                {{ msg }}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="d-flex justify-content-between align-items-center w-100">
        <h1 class="ingles-titulo m-0">Nome da turma</h1>
        {% if current_user.admin %}<h2 class="codigoturma m-0">Código da turma: {{turma.codigo}}</h2>{% endif %}
    </div>
    
    <div class="d-flex flex-column">
        <a href="/turmas/{{turma.id}}/materiais">
            <p class="text-light fw-bold m-0 fs-5">Materiais</p>
        </a>
        <a href="/atividades">
            <p class="text-light fw-bold m-0 fs-5">Atividades</p>
        </a>
        <a href="/links">
            <p class="text-light fw-bold m-0 fs-5">Links</p>
        </a>
    </div>
    <script src="/static/js/script.js"></script>
</div>
{% endblock %}