{% extends 'pagina-base-dashboard.html' %}

{%block titulo %} Lista de Turmas {% endblock %} 

{% block conteudo %}

<div class="conteudo-listar-turmas d-flex flex-column gap-2">
    {% set mensagens = get_flashed_messages() %} 
    {% if mensagens %} 
    <div class="d-flex justify-content-center">
        <div class='alert alertbg text-light d-flex justify-content-center w-50 m-0' role="alert">
            Turma criada com sucesso
        </div>
    </div>
    {% endif %}
    <h1 class="ingles-titulo d-flex align-self-start m-0">Turmas</h1>
    <ul class="lista-turmas d-flex gap-3 list-unstyled flex-wrap">
        {% if turmas %}
            {% for t in turmas %}
            <li class="p-3 text-decoration-none gap-2 d-flex flex-column justify-content-center"> 
                <div class="h-100">
                    <a href="#" class="d-flex justify-content-end align-items-start">
                        <img src="/static/img/imagem-engrenagem.svg" alt="">
                    </a>
                    <a href="/turma_aluno/{{t.id}}" class="m-0 text-decoration-none">{{t.nome}}</a>
                    <p class="m-0">{{t.nivel}}</p>
                </div>
            </li>
            {% endfor %}
        {% else %}
            <p>Nenhuma turma encontrada.</p>
        {% endif %}
    </ul>
</div> 
{% endblock %}

